# Topic 4: Outliers

### This file contains the 3 exercises assosiated with this topic. Please find references to each exercise in the README.md file

![Image4](https://miro.medium.com/max/697/1*O3lOgPwuHP7Vfc1T6NDRrQ.png)

In [2]:
# Import the required libraries:

import numpy as np

from numpy import genfromtxt

# Plotting:
import matplotlib.pyplot as plt

# Statistics:
import pandas as pd

# Visualisations:
import seaborn as sns

# Pandas for data analysis
import pandas as pd

# Morley dataset: imported below, named/variable: 'data1'

# Iris dataset URL:
irisurl="https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Importing
irisDF = pd.read_csv(url)

# Dataset URL. Please note that this CSV file is compressed due to its size
#url="http://data.insideairbnb.com/ireland/leinster/dublin/2022-09-11/data/listings.csv.gz"

# Importing the CSV file:
#listingsDF = pd.read_csv(url, compression="gzip")

NameError: name 'url' is not defined

In [ ]:
# Read in the morley data.
data1 = np.genfromtxt('../morley.csv', skip_header=1, delimiter=',', deletechars='"')

# Removing the first column
data1 = data1[:,1:]

In [3]:
# A quick way to get the five experiments in different columns.
df = data1[:,2].reshape(5, 20).T

panda_df = pd.DataFrame(data = df, 
                        columns = ["Column_1", "Column_2", "Column_3", "Column_4", "Column_5"])
print(panda_df)

    Column_1  Column_2  Column_3  Column_4  Column_5
0      850.0     960.0     880.0     890.0     890.0
1      740.0     940.0     880.0     810.0     840.0
2      900.0     960.0     880.0     810.0     780.0
3     1070.0     940.0     860.0     820.0     810.0
4      930.0     880.0     720.0     800.0     760.0
5      850.0     800.0     720.0     770.0     810.0
6      950.0     850.0     620.0     760.0     790.0
7      980.0     880.0     860.0     740.0     810.0
8      980.0     900.0     970.0     750.0     820.0
9      880.0     840.0     950.0     760.0     850.0
10    1000.0     830.0     880.0     910.0     870.0
11     980.0     790.0     910.0     920.0     870.0
12     930.0     810.0     850.0     890.0     810.0
13     650.0     880.0     870.0     860.0     740.0
14     760.0     880.0     840.0     880.0     810.0
15     810.0     830.0     840.0     720.0     940.0
16    1000.0     800.0     850.0     840.0     950.0
17    1000.0     790.0     840.0     850.0     800.0
18     960.0     760.0     840.0     850.0     810.0
19     960.0     800.0     840.0     780.0     870.0

In [5]:
# Investigating dataset:

panda_df.head()

   Column_1  Column_2  Column_3  Column_4  Column_5
0     850.0     960.0     880.0     890.0     890.0
1     740.0     940.0     880.0     810.0     840.0
2     900.0     960.0     880.0     810.0     780.0
3    1070.0     940.0     860.0     820.0     810.0
4     930.0     880.0     720.0     800.0     760.0

# Exercise 1

#### Create box plots on a single set of axes for all five experiments in the morley data set.

In [ ]:
# box plot

# Exercise 2

#### Create box plots for all of the numercial variables in Fisher's Iris Data Set.

# Exercise 3

#### Adapt the above code and plots so that the overall plot is inversely propertional and the individual groups are directly proportional.